
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="css/tiny-slider.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<title>Deco-Havan</title>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
			h1  {
        font-family: 'Nunito', sans-serif;
			}
			
			h2  {
        font-family: 'Nunito', sans-serif;
			}
			h3  {
				font-family: 'Nunito', sans-serif;
			}
			h4    {
				font-family: 'Nunito', sans-serif;
			}
			h5   {
				font-family: 'Nunito', sans-serif;
			}
			h6   {
				font-family: 'Nunito', sans-serif;
			}

			button {
				font-family: 'Nunito', sans-serif;
			}
			a {
				font-family: 'Nunito', sans-serif;
				font-weight: bold;
			}
			label {
				font-family: 'Nunito', sans-serif;
			}
		</style>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.4/dist/sweetalert2.all.min.js"></script>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md" arial-label="Furni navigation bar">

			<div class="container">
				<div class="text-start">
					<img src="assets/logo-white.png"
						style="width: 185px;" alt="logo">
				</div>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li><a class="nav-link" href="/shop">Shop</a></li>
						<!-- <li><a class="nav-link" href="about.html">About us</a></li>
						<li><a class="nav-link" href="services.html">Services</a></li>
						<li><a class="nav-link" href="blog.html">Blog</a></li>
						<li><a class="nav-link" href="contact.html">Contact us</a></li> -->
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li class="nav-item dropdown">
							<a class="nav-link pe-1 dropdown-toggle profile" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<% if (locals.user) { %>
									<span class="me-2 "><%= locals.user.name %></span>
								<% } %>
								<i class="fa-regular fa-user"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
								<% if (locals.user) { %>
									<!-- User is logged in -->
									<li><a class="dropdown-item" href="/profile">Profile</a></li>
									<li><a class="dropdown-item" href="/logout">Logout</a></li>
								  <% } else { %>
									<!-- User is not logged in -->
									<li><a class="dropdown-item" href="/login">Login</a></li>
									<li><a class="dropdown-item" href="/signup">Sign Up</a></li>
								  <% } %>
							</ul>
						</li>
						<!-- <li><a class="nav-link px-3 active" href="/wishlist"><i class="fa-regular fa-heart"></i></a></li> -->
						<li><a class="nav-link ps-4 " href="/cart"><i class="fa fa-shopping-cart"></i></a></li>
					</ul>
				</div>
			</div>

		</nav>
		<!-- End Header/Navigation -->

