<div class="col-md-3 col-lg-2 d-md-block bg-light shadow-sm p-3 min-vh-100">
    <div class="list-group">
        <a href="/user_profile" class="list-group-item list-group-item-action active">
            <i class="bi bi-person"></i> Profile
        </a>
        <a href="/orders" class="list-group-item list-group-item-action">
            <i class="bi bi-cart"></i> Orders
        </a>
        <a href="/wishlist" class="list-group-item list-group-item-action">
            <i class="bi bi-heart"></i> Wishlist
        </a>
        <a href="/wallet" class="list-group-item list-group-item-action">
            <i class="bi bi-wallet"></i> Wallet
        </a>
    </div>
    <div class="mt-auto pt-3">
        <button class="btn btn-outline-danger w-100">
            Sign out
        </button>
    </div>
</div>